html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.margin-top {
  margin-top: 12rem;
}

body {
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}
.click-aqui {
  color: white;
  font-size: 2.8rem;
}

/* HEADER Y FOOTER */
.nav-link--active {
  color: white;
}
.nav-link--active:hover {
  color: white;
}
.logo {
    width: 12rem;
}
.container-fluid {
    width: auto;
}
.botonNav {
    width: 6rem;
    height: 6rem;
}
.navbar {
    position: fixed;
    top: 0rem;
    z-index: 998;
    background-image: url(../imagenes/fondosections.jpg);
    height: 10rem;
}
h1 {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-family: 'Marck Script', cursive;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 0 5px 10px white;
    font-family: 'Anton', sans-serif;
}

footer {
    background-image: url(../imagenes/fondosections.jpg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 2rem;
    text-decoration: none;
}
nav {
    width: 100%;
}
.breadcrumb {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.a-breadcrumb {
    font-size: 2rem;
    color: black;
}
.a-breadcrumb--active {
    font-size: 2rem;
    color: white;
}
.a-breadcrumb--active:hover {
  color: white;
}
.a-breadcrumb:hover {
    color: white;
}
.btn-footer {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
}
.contacto-footer {
  text-align: center;
}
.footer-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
img, svg {
  vertical-align: initial;
}

/* H2 Y H3 */
h2 {
    font-family: 'Marck Script', cursive;
    font-size: 4rem;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: solid white 0.3rem;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    font-family: 'Anton', sans-serif;
}
.h2s {
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}

/* LISTAS Y TABLAS */
ul {
    display: grid;
    list-style-type: none;
    margin: auto;
}
li {
    margin-right: 2rem;
    margin-left: 2rem;
}
th {
    border: solid black 0.3rem;
    text-align: center;
}
td {
    border: solid black 0.3rem;
    text-align: center;
}
.entre-si__table {
    font-family: 'Marck Script', cursive;
    width: 70rem;
    font-size: 1.8rem;
    margin: 1rem;
    box-shadow: 1px 1px 12px 12px whitesmoke;
}
.entre-si {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
.entre-si__img {
    margin: 2rem;
}

@media (max-width: 1000px) {
    .entre-si__img {
        width: 25rem;
    }
    .entre-si__table {
        font-size: 1.2rem;
    }

}
@media (min-width:320px) and (max-width:600px) {
    .titulosText {
        font-family: 'Marck Script', cursive;
        font-size: 1rem;
        background-color: rgba(0, 0, 255, 0.5);
        text-align: center;
        border: dashed black 0.3rem;
        padding: 0.5rem;
        width: 40rem;
        margin: 1rem;
    }
}
@media (max-width:480px) {
  .entre-si__table {
    width: 90%;
  }
}
/* ********************************************************************************************************************************************************************************* */
    /* INDEX */

.acerca-de-nosotros-text {
  font-size: 3rem;
}

/* Carrusel */
.carousel-index {
  margin: auto;
  margin-top: 8rem;
  width: 130rem;
  height: auto;
  box-shadow: 1px 1px 12px 12px whitesmoke;
}
.carousel-control-prev , .carousel-control-next {
  background-color: rgba(255, 255, 255, 0.550);
}

/* Presentación de secciones Start */
.section-index {
  display: grid;
  grid-template-areas: "titulos galeria entresi";
  margin: 1rem;
  justify-content: space-around;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
  font-family: 'Open Sans', sans-serif;
}
.section-index__titulos {
  grid-area: titulos;
  background-image: url(../imagenes/fondosections.jpg);
  border: solid black 0.2rem;
  padding: 4rem;
  margin: 1rem;
  margin-top: 2rem;
  height: 57rem;
  opacity: 0.8;
}
.section-index__titulos:hover {
  opacity: 1;
  box-shadow: 1px 1px 12px 12px rgba(245, 245, 245, 0.568);
}
.section-index__img {
  height: 35rem;
  margin-top: 2rem;
}
.section-index__galeria {
  grid-area: galeria;
  background-image: url(../imagenes/fondosections.jpg);
  border: solid black 0.2rem;
  padding: 2rem;
  margin: 1rem;
  margin-top: 2rem;
  height: 57rem;
  opacity: 0.8;
}
.section-index__galeria:hover {
  opacity: 1;
  box-shadow: 1px 1px 12px 12px rgba(245, 245, 245, 0.568);
}
.section-index__entresi {
  grid-area: entresi;
  background-image: url(../imagenes/fondosections.jpg);
  border: solid black 0.3rem;
  padding: 5rem;
  margin: 1rem;
  margin-top: 2rem;
  height: 57rem;
  opacity: 0.8;
}
.section-index__entresi:hover {
  opacity: 1;
  box-shadow: 1px 1px 12px 12px rgba(245, 245, 245, 0.568);
}
.section-index__text {
  font-size: 1.8rem;
  font-style: italic;
  color: black;
}
.card {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.h3-index {
  font-size: 3rem;
  color: black;
  margin: 2rem;
  border-bottom: solid black 0.2rem;
}

/* Index Mobile Start */
@media (min-width: 320px) and (max-width: 480px) {
  .carousel-index {
    width: 30rem;
  }
  .section-index {
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulos"
    "galeria"
    "entresi";
    margin: 1rem;
  }
  .section-index__img {
    height: 20rem;
  }
  footer p {
    font-size: 1rem;
  }
  .card {
    width: 90%;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .carousel-index {
    width: 45rem;
  }
  .section-index {
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulos"
    "galeria"
    "entresi";
    margin: 1rem;
  }
  .section-index__img {
    height: 25rem;
  }
  footer p {
    font-size: 1rem;
  }
  .card {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .carousel-index {
    width: 55rem;
  }
  .section-index {
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulos"
    "galeria"
    "entresi";
    margin: 1rem;
  }
  .section-index__img {
    height: 25rem;
  }
  .card {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .text-carousel {
    display: none;
  }
  .section-index {
    justify-content: center;
    align-content: center;
    grid-template-areas: "titulos"
    "galeria"
    "entresi";
    margin: 1rem;
  }
  .carousel-index {
    margin: auto;
    width: 70rem;
  }
  .card {
    width: 80%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .text-carousel {
    display: none;
  }
  .section-index__img {
    height: 25rem;
  }
  .carousel-index {
    width: 95rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .carousel-index {
    width: 110rem;
  }
}
@media (max-width:1200px) {
  .section-index__titulos, .section-index__galeria, .section-index__entresi, .navbar {
    height: auto;
  }
}
/* ********************************************************************************************************************************************************************************* */
    /* TITULOS */
.grandslam-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn-gs {
  width: 35rem;
  height: 17.5rem;
  font-size: 2rem;
  border: solid white 0.2rem;
  margin: 2rem;
  padding: 1rem;
}
.btn-gs:hover {
  filter: blur(2px)
}
.modal-ao {
  background-color: #0192d3;
}
.btn-ao {
  background-image: url(../imagenes/australianopen.jpg);
  background-size: cover;
}
.modal-wimbledon {
  background-image: url(../imagenes/fondo3.jpeg);
  background-size: cover;
}
.btn-wimbledon {
  background-image: url(../imagenes/wimbledon.jpg);
  background-size: cover;
}
.modal-rg {
  background-image: url(../imagenes/fondosections.jpg);
  background-size: cover;
}
.btn-rg {
  background-image: url(../imagenes/rolandgarros.jpg);
  background-size: cover;
}
.modal-us {
  background-color: #042c89;
}
.btn-us {
  background-image: url(../imagenes/usopen.jpg);
  background-size: cover;
}
.modal-body {
  height: auto;
}
.modal-title {
  margin: auto;
}
.modal-text {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-family: 'Open Sans', sans-serif;
}
.modal-otros {
  background-color: rgba(128, 128, 128, 0.685);
}
h4 {
  font-size: 2rem;
  text-decoration: underline;
  padding: .5rem;
  margin: 1rem;
}
h6 {
  font-size: 1.7rem;
}
.mastitulos-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn-titulos {
  width: 45rem;
  height: 30rem;
  margin: 2rem;
}
.btn-djokovic {
  background-image: url(../imagenes/djokovic.jpg);
  background-size: cover;
}
.btn-federer {
  background-image: url(../imagenes/federer.jpg);
  background-size: cover;
}
.btn-nadal {
  background-image: url(../imagenes/nadal.jpg);
  background-size: cover;
}
.btn-titulos:hover {
  filter: contrast(130%);
}
@media (min-width: 320px) and (max-width: 480px) {
  .btn-gs {
    width: 12rem;
    height: 7rem;
  }
}
@media (max-width: 700px) {
  .btn-gs {
    width: 20rem;
    height: 10rem;
  }
    .btn-titulos {
      width: 30rem;
      height: 20rem;
    }
}

/* ********************************************************************************************************************************************************************************* */
    /* GALERÍA */
@media (max-width: 800px) {
    .columnGalery {
        flex: 60%;

    }
}

@media (max-width: 600px) {
    .columnGalery {
        flex: 100%;

    }
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 2rem;
  padding: 4rem 0;
}
.galeria__a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(255, 255, 255, .7);
}
.galeria__a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
} 
.galeria img {
  width: 100%;
  vertical-align: top;
  height: 30rem;
  object-fit: cover;
  transition: transform 0.5s;
}
.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform .3s ease-in-out;
}
.light-box img{
  width: 75vw;
  max-height: 100vh;
}
.light-box:target {
  transform: scale(1);
}
.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 2rem;
  color: black;
  background-color:rgba(247, 247, 247, 0.726);
  text-align: center;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
}
.next {
  display: block;
  color: black;
  text-align: center;
  background-color:rgba(247, 247, 247, 0.726) ;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
}
@media (min-width:600px) and (max-width:960px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width:320px) and (max-width:500px){
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} 
/* ********************************************************************************************************************************************************************************* */
  /* NOTICIAS */
.noticias__cuadro {
  height: auto;
  background-color: rgb(90, 90, 90);
  border-radius: 2rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.575);
  margin-bottom: 1rem;
  overflow: hidden;
}
.noticias__texto {
  font-size: 1.8rem;
  font-style: bold;
  margin-top: 1rem;
  line-height: 20px;
  overflow: hidden;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}
.img-fluid {
  border-radius: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all 1s;
}
.img-fluid:hover {
  transform: scale(1.1);
}
h6 {
  text-align: center;
}
h6 a {
  color: white;
  text-decoration: underline;
}
h6 a:hover {
  color: rgba(255, 255, 255, 0.459);
}
.container {
  margin-bottom: 10rem;
}

/* CONTACTO */

.padreForm {
  background-image: url(../imagenes/fondosections.jpg);
  background-size: cover;
  border: solid white 0.2rem;
  width: 130rem;
  display: grid;
  margin: auto;
  margin-bottom: 10rem;
  margin-top: 5rem;
  grid-template-areas:
  "a b img"
  "c d img"
  "e e img"
  "f g img";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.hijosForm {
  width: 25rem;
  height: 4rem;
  margin: 1rem;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: solid black 0.3rem;
}

.hijosFormButton {
  width: 25rem;
  height: 4rem;
  margin: 1rem;
  background-color: white;
  border: solid black 0.3rem;
}
textarea {
  font-size: 1.5rem;
}

.hijosFormButton:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.imgForm {
  grid-area: img;
}
::placeholder {
  color: black;
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
  transition: all 1s;
}
input:focus {
  width: 27rem;
  font-size: 1.7rem;
  caret-color: blue;
}

@media (min-width:320px) and (max-width:600px){
  .padreForm {
      width: 80%;
      height: 100rem;
      margin: auto;
      margin-bottom: 10rem;
      margin-top: 5rem;
      justify-items: center;
      align-items: center;
      grid-template-areas: 
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "img";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
  }
  .hijosForm {
      width: 20rem;
      height: 3rem;
      margin: 0.5rem;
  }
  form div img {
      width: 100%;
  }
  .hijosFormButton {
    width: 22rem;
  }
}

@media (min-width:600px) and (max-width:1300px) {
  .imgForm {
    display: none;
  }
  .padreForm {
    width: auto;
    display: grid;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-right: 2rem;
    margin-left: 2rem;
    grid-template-areas:
    "a b"
    "c d"
    "e e"
    "f g";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
}